@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  color: #008C9E;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #008C9E;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #e37b89;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #008C9E;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 2; }
  .l-header.float-active {
    translate: .3s;
    background: rgba(255, 255, 255, 0.9); }

.c-headerMenu {
  display: flex;
  margin-right: 20px; }
  @media screen and (max-width: 414px) {
    .c-headerMenu {
      margin-right: 0; } }

.c-menu__item {
  margin-left: 15px; }

.l-main {
  background-color: #343838; }

.l-footer {
  background: #343838;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; }

.c-heroPage {
  background-image: url("../images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center; }
  @media screen and (max-width: 414px) {
    .c-heroPage {
      background-position: 75% 0%; } }
  .c-heroPage br {
    display: none; }
    @media screen and (max-width: 414px) {
      .c-heroPage br {
        display: block; } }

.c-logo__title {
  font-size: 38px; }

.c-heroPage__title {
  font-size: 60px;
  position: absolute;
  top: 100px;
  left: 100px; }
  @media screen and (max-width: 414px) {
    .c-heroPage__title {
      font-size: 38px;
      top: 320px;
      left: 100px; } }

.c-container--title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px; }

.c-news {
  margin: 0 auto; }

.c-news__body {
  background-color: #CCCC00;
  overflow-y: scroll;
  width: 70%;
  height: 120px;
  margin: 0 auto; }
  .c-news__body br {
    display: none; }
    @media screen and (max-width: 414px) {
      .c-news__body br {
        display: block; } }

.c-news__item {
  margin: 10px;
  font-size: 12px; }

.c-news__date {
  margin-left: 5px;
  margin-right: 5px;
  color: #e37b89; }

.c-container {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 980px;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .c-container {
      width: 100%; } }
  .c-container__ornament .c-container--title:before, .c-container__ornament .c-container--title:after {
    border-top: 1px solid #008C9E;
    position: relative;
    content: "";
    display: block;
    z-index: 0;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 414px) {
      .c-container__ornament .c-container--title:before, .c-container__ornament .c-container--title:after {
        width: 70%; } }
  .c-container__ornament .c-container--title:before {
    top: 25px; }
  .c-container__ornament .c-container--title:after {
    top: -30px; }
  .c-container__ornament .c-container--title .u-oddTitle {
    position: relative;
    z-index: 1;
    background: #343838; }
  @media screen and (max-width: 414px) {
    .c-container__body {
      padding-left: 15px;
      padding-right: 15px; } }

.c-about {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #CCCC00; }

.c-menuTrigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  width: 40px;
  height: 32px;
  z-index: 3;
  position: relative; }
  @media screen and (max-width: 414px) {
    .c-menuTrigger {
      display: inline-block; } }
  .c-menuTrigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #008C9E;
    border-radius: 4px; }
    @media screen and (max-width: 414px) {
      .c-menuTrigger span {
        left: 80px; } }
    .c-menuTrigger span:nth-of-type(1) {
      top: 0; }
    .c-menuTrigger span:nth-of-type(2) {
      top: 14px; }
    .c-menuTrigger span:nth-of-type(3) {
      bottom: 0; }
  .c-menuTrigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .c-menuTrigger.active span:nth-of-type(2) {
    opacity: 0; }
  .c-menuTrigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

@media screen and (max-width: 414px) {
  .c-headerMenu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .c-headerMenu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

@media screen and (max-width: 414px) {
  .c-menu--link {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 38px; } }

.c-gallery {
  float: left;
  margin-right: calc(calc(980px - calc(230px * 4)) / 3);
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: .5s; }
  @media screen and (max-width: 414px) {
    .c-gallery {
      margin-right: calc(calc(414px - calc(177px * 2)) / 2); } }
  .c-gallery:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .5s; }
  @media screen and (max-width: 414px) {
    .c-gallery__group {
      margin-right: 0; } }
  .c-gallery__group--float {
    overflow: hidden; }
  .c-gallery__boby {
    position: relative;
    padding-top: 60%; }
  .c-gallery__staff {
    width: calc(25% - 15px); }
    .c-gallery__staff:nth-of-type(4) {
      margin-right: 0; }
    .c-gallery__staff:nth-of-type(8) {
      margin-right: 0; }
    @media screen and (max-width: 414px) {
      .c-gallery__staff {
        width: calc(50% - 15px); }
        .c-gallery__staff:nth-of-type(2) {
          margin-right: 0; }
        .c-gallery__staff:nth-of-type(6) {
          margin-right: 0; } }
  .c-gallery--img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }

.c-course {
  background-color: #CCCC00; }
  .c-course__group {
    margin: 0 auto 15px auto; }
  .c-course--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 414px) {
      .c-course--flex {
        display: block; } }
  .c-course__menu {
    width: calc(33.3% - 15px); }
    @media screen and (max-width: 414px) {
      .c-course__menu {
        width: 100%;
        margin-bottom: 10px; } }
  .c-course--title {
    text-align: center;
    padding: 20px; }
  .c-course--border {
    border-radius: 5px;
    border: solid 5px #C5CC00;
    box-sizing: border-box; }
  .c-course--borderActive {
    border-radius: 5px;
    border: solid 5px #e3a8b1;
    position: relative;
    box-sizing: border-box; }
  .c-course__body {
    position: relative;
    padding-top: 100%; }
  .c-course--img {
    position: absolute;
    height: 100%;
    top: 0; }
  .c-course--msg {
    padding: 10px; }
  .c-course__badge {
    position: absolute;
    background: #e37b89;
    color: #fff;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 12px;
    transform: rotate(15deg); }

.c-form__m {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 414px) {
    .c-form__m {
      width: 100%; } }

.c-input {
  display: block;
  margin-bottom: 10px;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  outline: none;
  height: 60px;
  width: 100%;
  box-sizing: border-box; }
  .c-input:focus {
    border: solid 3px #e3a8b1; }
  .c-input__textarea {
    height: 200px; }

.c-btn {
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: .3s; }
  .c-btn--l {
    width: 100%;
    padding: 15px 30px; }
  .c-btn--corp {
    color: #fff;
    background: #0083B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00B4DB, #0083B0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00B4DB, #0083B0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .c-btn:hover {
    transform: translateY(-3px);
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.u-logo__font {
  font-family: 'Caveat', cursive; }

.u-title__size {
  font-size: 24px; }

.u-input__font {
  font-size: 18px;
  color: #777; }

.u-btn__font {
  font-size: 14px;
  color: aliceblue; }

.u-btn__mb {
  margin-top: 30px; }
