@charset "UTF-8";
html, body {
  width: 100%;
  color: #008C9E;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #008C9E;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #e37b89;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #008C9E;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 2; }

.c-headerMenu {
  display: flex;
  margin-right: 20px; }

.c-menu__item {
  margin-left: 15px; }

.l-main {
  background-color: #343838; }

.c-heroPage {
  background-image: url("../images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center; }
  @media screen and (max-width: 414px) {
    .c-heroPage {
      background-position: 75% 0%; } }
  .c-heroPage br {
    display: none; }
    @media screen and (max-width: 414px) {
      .c-heroPage br {
        display: block; } }

.c-logo__title {
  font-size: 38px; }

.c-heroPage__title {
  font-size: 60px;
  position: absolute;
  top: 100px;
  left: 100px; }
  @media screen and (max-width: 414px) {
    .c-heroPage__title {
      font-size: 38px;
      top: 320px;
      left: 100px; } }

.c-container--title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px; }

.c-news {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px; }

.c-news__body {
  background-color: #fcb900;
  overflow-y: scroll;
  width: 50%;
  height: 120px;
  margin: 0 auto; }

.c-news__item {
  margin: 10px;
  font-size: 12px; }

.c-news__date {
  margin-left: 5px;
  margin-right: 5px;
  color: #e37b89; }

.c-container {
  width: 980px;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .c-container {
      width: 100%; } }
  .c-container__ornament .c-container--title:before, .c-container__ornament .c-container--title:after {
    border-top: 1px solid #008C9E;
    position: relative;
    content: "";
    display: block;
    z-index: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
  .c-container__ornament .c-container--title:before {
    top: 15px; }
  .c-container__ornament .c-container--title:after {
    top: -15px; }
  .c-container__ornament .c-container--title .u-oddTitle {
    position: relative;
    z-index: 1; }

.c-about {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #fcb900; }

.c-menuTrigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  width: 40px;
  height: 32px;
  z-index: 3;
  position: relative; }
  @media screen and (max-width: 414px) {
    .c-menuTrigger {
      display: inline-block; } }
  .c-menuTrigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #008C9E;
    border-radius: 4px; }
    @media screen and (max-width: 414px) {
      .c-menuTrigger span {
        left: 80px; } }
    .c-menuTrigger span:nth-of-type(1) {
      top: 0; }
    .c-menuTrigger span:nth-of-type(2) {
      top: 14px; }
    .c-menuTrigger span:nth-of-type(3) {
      bottom: 0; }
  .c-menuTrigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .c-menuTrigger.active span:nth-of-type(2) {
    opacity: 0; }
  .c-menuTrigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

@media screen and (max-width: 414px) {
  .c-headerMenu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .c-headerMenu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.u-logo__font {
  font-family: 'Caveat', cursive; }
