// ==================================
// 変数
// ==================================
$font-color_default: #777;
$font-size_default: 16px;


$font-family_all: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; // TODO:リファクタ必要（変数にする）
$color_corp: #e37b89;

//フォントサイズ
$font-size_s: 12px;
$font-size_m: 14px;
$font_size_l: 16px;
$font_size_xl: 24px;
$font_size_xxl: 30px;
$font_size_3l: 38px;
$font_size_king: 60px;

//余白
$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 25px;
$space_3l: 30px;

// ==================================
// 各種ファイルのimport
// ==================================
@import '../scss/foundation/base.scss';
@import '../scss/foundation/reset.scss';
@import '../scss/layout/_header.scss';
@import '../scss/object/Component/heroPage.scss';
@import '../scss/object/Component/logoTittle.scss';
@import '../scss/object/Component/heroTitle.scss';






