.c-container {
  @include mq() {
    width: 100%;
  }
  width: $site_width;
  margin: 0 auto;
  &__ornament {
    .c-container--title {
      &:before, &:after{
        border-top: 1px solid #008C9E;
        position: relative;
        content: "";
        display: block;
        z-index: 0;
        width: $section_width_m;
        margin-left: auto;
        margin-right: auto;
      }
      &:before {
        top: 15px;
      }
      &:after {
        top: -15px;
      }
      .u-oddTitle {
        position: relative;
        z-index: 1;
      }
    }
  }

}