.c-container {
  padding-top: $section_padding_s;
  padding-bottom: $section_padding_s;
  @include mq() {
    width: 100%;
  }
  width: $site_width;
  margin: 0 auto;
  &__ornament {
    .c-container--title {
      &:before, &:after{
        border-top: 1px solid #008C9E;
        position: relative;
        content: "";
        display: block;
        z-index: 0;
        @include mq() {
          width: $section_width_m;
        }
        margin-left: auto;
        margin-right: auto;
      }
      //タイトルの横線の装飾
      &:before {
        top:25px;
      }
      &:after {
        top: -25px;
      }
      .u-oddTitle {
        position: relative;
        z-index: 1;
        background: $background-main;
      }
    }
  }
  &__body {
    @include mq() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
}