.c-input {
  display: block;
  margin-bottom: $space_m;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  outline: none;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border: solid 3px #e3a8b1;
  }
  &__textarea {
    height: 200px;
  }
}