.c-news__body {
  background-color: aqua;
  overflow-y: scroll;
  width: $section_width_s;
  height: 60px;
  margin: 0 auto;
}

.c-news__item {
  margin: 10px;
  font-size: $font_size_s;
}

.c-news__date {
  margin-left: 5px;
  margin-right: 5px;
  color: $color_corp;
}

.c-news {
  background-color: brown;
}