.c-news__body {
  background-color: $background-base;
  overflow-y: scroll;
  width: $section_width_m;
  height: 120px;
  margin: 0 auto;
  br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}

.c-news__item {
  margin: 10px;
  font-size: $font_size_s;
}

.c-news__date {
  margin-left: 5px;
  margin-right: 5px;
  color: $color_corp;
}