.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: $font-color_default;
  align-items: center;
  padding-left: $space_xl;
  padding-right: $space_xl;
  position: fixed;
  z-index: 2;
}

.c-headerMenu {
  display: flex;
  margin-right: 20px;
  @include mq() {
    margin-right: 0;
  }
}
.c-menu__item {
  margin-left: 15px;
}